body {
    padding: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    max-width: 800px;
    text-align: justify;
    line-height: 1.6;
}

#front-page {
    margin-left: auto;
    margin-right: auto;
}

#index {
    padding-top: 80px;
}

#line-image {
    width: 800px;
}

#glue {
    color: #8F3662;
    font-weight: bold;
    font-size: 20px;
}

#soft {
    color: #818181;
}

#title-image {
    padding-top: 60px;
    padding-bottom: 200px;
    padding-left: 100px;
}

#european {
    color: #0D2F95;
}

#executive {
    font-size: 22px;
}

#date {
    font-weight: bold;
    font-size: 16px;
    color: #ACACAC;
}

#introduction {
    padding-top: 150px;
}

#introduction-title {
    padding-bottom: 20px;
}

#problem {
    padding-top: 80px;
}

#problem-title {
    padding-bottom: 20px;
}

#solution {
    padding-top: 80px;
}

#solution-title {
    padding-bottom: 20px;
}

#economics {
    padding-top: 80px;
}

#economics-title {
    padding-bottom: 20px;
}

#cases {
    padding-top: 80px;
}

#cases-title {
    padding-bottom: 20px;
}

u {
    color: #717171;
}
#sub {
    padding-top: 60px;
    text-align: left;
    max-width: 800px;
}